.cell-simulator {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #121212;
  min-height: 100vh;
  padding: 100px 0 0;
  font-size: calc(10px + 2vmin);
  color: white;

  h3 { 
    font-size: 25px;
  }

  .settings-container {
    width: 600px;
    margin: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .slider {
      width: 250px;

      p {
        color: white;
      }
    }
  }
  
  .flex-grid-container {
    display: flex;
    flex-flow: row wrap;
  
    .flex-grid {
      border: 1px #4e4646 solid;
      background: #fff;
      height: 30px;
      width: 30px;
  
      &.alive {
        background: #000;
      }
    }
  }
}

