.cell-simulator {
  text-align: center;
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  h3 { 
    font-size: 25px;
  }
}

.flex-grid-container {
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 20px auto;

  .flex-grid {
    border: 1px #4e4646 solid;
    background: #fff;
    height: 30px;
    width: 30px;

    &.alive {
      background: #000;
    }
  }
}
